.box {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: purple;
  display: inline-block;
}

.black-background-color {
  background-color: black;
}

.blue-background-color {
  background-color: blue;
}

#poof {
    padding: 1rem;
    background-color: bisque;
}